/*
* FOOTER FORM
*/
#ns-subscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#ns-subscription-form button {
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  color: #fff;
  background: transparent;
  z-index: 0;
  border: 0;
  padding: 2px 10px;
  box-sizing: content-box;
  height: 50px;
  cursor: pointer;
}

#ns-subscription-form button i {
  font-size: 17.2px;
  font-style: normal;
  opacity: 0.9;
}

#ns-message {
  margin-top: 10px;

  &:empty {
    margin: 0;
  }
}
